.container-padre-envio{
  display: flex;
  height: 91.5%;
}
.container-p{
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
  position: relative;
  justify-content: center;
  margin-left: 50px;
  width: auto;
  height: auto;
}
.container-p input{
  display:flex;
  justify-content: center;
  border-radius: 2px solid;
  width: 15%; 
  height:40px;
}
.container-a{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  height: 650px;
  width: 800px;
}
.container-b{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  height: 650px;
  width: 800px;
}
.title{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  margin-left:100px;
  background-color: black;
  font-size: 30px;
  width: auto;
  height: auto;
  border-radius: 5px;
}
.title p{

}
.button{
  height: 35px;
  width: 130px;
  font-size: 15px;
  color: white;
  background-color:rgb(0, 0, 0);
  border: darkgrey;
  border-radius: 2px;
}


.form-control{
  margin: 1px;
  width: 90%;
  align-self: center;
}
.select-empty{
  margin-top:2px;
}