.container-padre-lista{
  display: flex;
  position: absolute;
  width: 100%;
  height: 91.5%;
}
#container-acordion-padre{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 13%;
    margin-right: 20px;
    width: 50%;
}
.acordion-h{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#typography{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#panel1a-header {
  display: flex;
  background-color: black;
  border-radius: 2px;
  color: white;
}

#panel1a-header #flecha {
  display: flex;
  color: white;
}
